*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: white;
}


html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: white;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

.menu a{
    color:black;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

.menu a:hover{
    background-color:black;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.ant{
    margin: 10px;
}

button{
    background:black;
    color: white;
    border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor: pointer;

}

input[type=search]{
    padding: 10px;
    border-radius:6px;
    border: solid 1px gray;
    margin-left: 20px;
}

.hero{
    background: url(images/IMG-20260728-WA7394.jpg);
    width: 100%;
    height: 105vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:left;
    align-items: center;
    text-align:left;
}

.hero-text{
    width: 70%;
}

h1{
    color: white;
    font-size: 60px;
    margin-left:10px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para1{
    color: white;
    margin-bottom: 50px;
    margin-left: 10px;
}

.btn0{
width: 150px;
background:white;
color: black;
border:none;
padding:15px 20px; 
border-radius:15px;
cursor:pointer;
margin-bottom: 30px;
font-weight: 100;
margin-left: 10px;


}

.title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:25px;
}

h2{
    color: black;
    font-size: 30px;
    font-weight: 600;
    margin-left: 26px;
}
.btn1{
    background:black;
    color: white;
    border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
    margin-right: 26px;
}

.cards{
    display:flex;
    gap:20px;
}

.card1{
    background: url(images/IMG-20260728-WA1551.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin: 30px;
}
.card2{
    background: url(images/IMG-20260729-WA0841.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin: 30px;
}
.card3{
    background: url(images/IMG-20260729-WA1517.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin: 30px;
}
.card4{
    background: url(images/IMG-20260729-WA3218.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin: 30px;
}
.card5{
    background: url(images/IMG-20260729-WA0578.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin: 30px;
}
    .card6{
    background: url(images/IMG-20260729-WA2010.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin-top: 28px;
    margin: 30px;

}
    .card7{
    background: url(images/IMG-20260728-WA6494.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin-top: 28px;
    margin: 30px;
}
    .card8{
    background: url(images/IMG-20260729-WA1384.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin-top: 28px;
    margin: 30px;
}
    .card9{
    background: url(images/IMG-20260729-WA2171.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin-top: 28px;
    margin: 30px;
}
.card10{
    background: url(images/IMG-20260729-WA4641.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin-top: 28px;
    margin: 30px;
}
  .card11{
    background: url(images/IMG-20260729-WA9210.jpg);
    width: 400px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin-top: 28px;
    margin: 30px; 
}
.banner{
    background: url(images/IMG-20260728-WA2267.jpg);
    width: 1160px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 80px;
    
}

h3{
    color: white;
    font-size: 60px;
    margin-right:10px;
    margin-bottom: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:left;

}

.btn2{
    background:white;
    color: black;
    padding: 10px;
    border-radius: 2px;
    border: 2px solid black;
    margin-right: 26px;
}
.text{
    margin-top: 420px;
    margin-left: 10px;
}

.text1{
    margin-top: 420px;
    margin-left: 10px;
}
.text2{
    margin-top: 436px;
    margin-left: 10px;
}

.about{
width: 95%;
background: url(images/Jason..jpg);
height: 100vh;
text-align:center;
margin:30px;

}

.about-text{
    width: 50%;
}

h4{
    color: white;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para2{
    color: white;
    margin-top: 15px;
    margin: 10px;
    text-align: left;
}

h5{
    color: white;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 30px;
}

.contact{
    width: 95%;
    background-color: rgb(255, 111, 59);
    height: 60vh;
    margin: 30px;
}

.contact-text{
    display:flex;
    gap: 100px;
    margin: 10px;
    margin-top: 100px;
    justify-content: center;
}

.txt1{
    font-size: 27px;
    color: white;
    font-weight: 600;
}
.txt2{
    font-size: 15px;
    color: rgb(217, 212, 212);
    font-weight: 600;
}

.services{
    width: 95%;
    background-color: rgb(211, 210, 210);
    height: 60vh;
    margin: 30px;
}

.services-text{
    display:flex;
    gap: 80px;
    margin-left: 10px;
    
}

.txt3{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    gap: 390px;
    margin-bottom: 20px;
}
.fa-cart-shopping{
    font-size: 30px;
}
.fa-desktop{
    font-size: 30px;
}
.fa-bag-shopping{
    font-size: 30px;
    margin-right: 20px;
}

.faq{
    width: 95%;
    background-color:rgb(196, 255, 108);
    height: 60vh;
    margin: 30px;
}

.para3{
    margin-top: 40px;
    margin-left: 20px;
}

ul{
margin-left: 20px;
margin-top: 20px;
}
.login{
    background-color: rgb(219, 29, 219);
    margin: 30px;
    height:80vh;
}
form{
    background-color: white;
    width: 500px;
    margin-left: 285px;
    padding: 30px;
}

input[type=text]{
    width: 220px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 227, 227);
}


input[type=password]{
    width: 210px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:rgb(228, 227, 227);
}

input[type=submit]{   
    font-size: 15px;
    width: 210px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(56, 182, 232);
    color: white;
    text-align: center;
}
label{
color:rgb(147, 144, 144);
}

#link1{
    color: rgb(34, 181, 239);
    text-decoration: none;
}

#link2{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(34, 181, 239);
}
#link3{
    margin-left: 5px;
    color:rgb(147, 144, 144);
}

.signup{
    background-color:rgb(67, 67, 240);
    margin: 30px;
    height:90vh;
}
.text5{
    margin-bottom: 5px;
}
input[type=email]{
    width: 210px;
    padding: 10px;
    border: none;
    background-color:rgb(228, 227, 227);
}
#link4{
  margin-left: 5px;
  color:rgb(147, 144, 144); 
}

mark{
    color: rgb(95, 95, 244);
    background-color: white;
}
#link5{
text-decoration: none;
}
#link6{
   text-decoration: none; 
}





















